

body {
    margin: 0;
    /* background-image: url('./assets/backgroundbody.jpg');
    background-size: cover; */
    background-color: white;
}

header {
    height: 100vh; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    background-image: url("./assets/apero3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

footer {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 3px solid #F4A940;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.headerLogoAndStyleBar {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoDisplay {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F4A940;
}

.barStyleHeader {
    width: 30%; 
    height: 10%;
    background-color: #F4A940;
}

.contentForHeader {
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#barName {
    margin: 0;
    color: #F4A940;
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
}

.descriptionHeader {
    height: 60%; 
    width: 60%; 
    background-color: #ffffff70;
}

.textIntroduction {
    height: 50%;
    padding: 40px;
}

.buttonToNavigate {
    height: 31%;
    display: flex; 
    flex-direction: row;
    align-items: center;    
    font-size: 15px;
}

.buttonToReserve {
    width: 20%;
    height: 30%;
    border: 2px solid #F4A940;
    margin-left: 5%;
    min-width: 50px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonToSeeFood {
    width: 20%;
    height: 30%;
    border: 2px solid #F4A940;
    margin-left: 5%;
    min-width: 50px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.descriptionStoryRestau {
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.ourStorytitle {
    width: 20%;
    margin-left: 15%;
    margin-top: 5%;
    min-width: 100px;
    text-align: center;
}

.divForTheTextOfTheStory {
    height: fit-content;
}

.textOfTheStory {
    height: 20vh;
    width: 35%;
    padding: 10px;
    min-width: 150px;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 2.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #F4A940;
}

#textStoryTelling {
    margin: 0;
}

#theDandD {
    margin: 0;
}

.imageAndTextStory {
    height: 63vh;
    background-color: antiquewhite;
    width: 80vw;
    margin: auto;
}

.photoForTheStory {

}

/* .backgroundDifferntColorForSeparation {

} */

.descriptionForFoodAndWine {

}

.ourFoodDesc {
    width: 80%;
    height: 40vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}

.styleForTheTextDisplay {
    padding: 5%;
}

.imageForOurFoodDesc {
    width: 70%; 
    background-image: url('./assets/apero1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#separateTitleAndTextFood {
    height: 3px;
    width: 30%;
    background-color: #F4A940;
    /* margin: auto; */
}

.textForOurFoodDesc {
    width: 30%; 
    text-align: center;
}

.ourWineDesc {
    width: 80%;
    height: 40vh;
    margin-top: 5%;
    margin-right: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.imageForOurWineDesc {
    width: 70%; 
    background-image: url('./assets/wine1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#separateTitleAndTextWine {
    height: 3px;
    width: 30%;
    background-color: #F4A940;
    margin-left: auto;
    /* margin: auto; */
}

.textForOurWineDesc {
    width: 30%; 
    text-align: center;
}

.descriptionForTheMap {
    height: 70vh;
    width: 100%;
    margin-top: 5% !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: darkorchid; */
    background-image: url('./assets/map2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.addressAndInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    min-height: 225px;
    padding: 2%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.locationAndHours {
    border-bottom: 3px solid #F4A940;;
    width: 115px;
    margin-inline-end: auto;
    margin-inline-start: auto;
}

.dayOfTheWeek {
    margin: 0;
    padding: 0;
    margin-top: 8% !important;
    margin-bottom: 2%;
}

.openingHours {
    font-weight: bold;
}

.logoForTheFooter {
    background-color: blue;
    width: 15%;
    height: 100%;
}

.contactUsAndSocialMediaContent {
    width: 85%;
    display: flex;
    flex-direction: row;
}

.divForContactUs {
    width: 30%;
    /* background-color: chartreuse; */
}

.contactUs {
    margin: 0;
    height: 25%;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationForContact {
    height: 75%;
    /* background-color: brown; */
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.contactDetails {
    display: flex;
    width: 80%;
    margin: 5% auto;
}

#phoneNumber {
    margin: 0; 
    margin-left: 2.5%;
}

#emailContact {
    margin: 0; 
    margin-left: 2.5%;
}

#addressAndLocation {
    margin: 0; 
    margin-left: 2.5%;
}

.divForSocialMedia {
    width: 30%;
    /* background-color: darkorange; */
}

.divForQuoteFooter {
    width: 40%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.contentImageOfInstagramAndFb {
    height: 75%;
    /* background-color: gold; */
    display: flex;
    flex-direction: row;
}

.contentImageOfInstagram {
    width: 50%;
    text-align: center;
}

#contentForFacebook {
    height: 60%;
    margin: auto;
    border-left: 3px solid #F4A940; 
}

.styleDivContactAndSocial {
    height: 3px;
    width: 80px;
    margin: auto;
    background-color: #F4A940;
}

#copyRightDiv {
    display: flex; 
    justify-content: center; 
    align-items: center;
}


/* MEDIA SCREEN RESPONSIVE */

@media screen and (max-width: 930px) {

    .buttonToReserve {
        width: 20%;
        height: 55%;
        text-align: center;
    }

    .buttonToSeeFood {
        width: 20%;
        height: 55%;
        text-align: center;
    }

    .textOfTheStory {
        width: 50%;
    }

}

@media screen and (max-width: 700px) {
    
    .contentForHeader {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .descriptionHeader {
        height: 60%;
        width: 100%;
    }

    .textIntroduction {
        height: 70%;
    }

    .buttonToNavigate {
        height: 30%;
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-around;
        font-size: 10px;
    }

    .textOfTheStory {
        width: 65%;
        height: auto;
        margin-bottom: 5%;
    }

    .imageAndTextStory {
        height: 63vh;
        width: 100%;
    }

    .descriptionForFoodAndWine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ourFoodDesc {
        width: 80%;
        height: 50vh;
        margin-top: 5% !important;
        margin: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    .imageForOurFoodDesc {
        width: 100%;
        height: 50%;
    }


    .textForOurFoodDesc {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .ourWineDesc {
        width: 80%;
        height: 50vh;
        margin-top: 5% !important;
        margin: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    .imageForOurWineDesc {
        width: 100%;
        height: 50%;
    }


    .textForOurWineDesc {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .separateTitleAndText {
        height: 10px;
        width: 30%;
        margin: auto;
    }

    .descriptionForTheMap {
        height: 60vh;
        width: 100%;
        margin-top: 5% !important;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addressAndInfo {
        text-align: center;
        width: 50%;
        height: 60%;
    }

    .logoForTheFooter {
        display: none;
    }

    .contactUsAndSocialMediaContent {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .divForContactUs {
        width: 50%;
    }

    .contactUs {
        margin: 0;
        height: 20%;
    }

    .informationForContact {
        height: 80%;
    }

    .divForSocialMedia {
        width: 50%;
    }

    .contentImageOfInstagram {
        height: 80%;
    }

    .contentImageOfInstagramAndFb {
        height: 80%;
    }

    .divForQuoteFooter {
        display: none;
    }
    
    footer {
        height: 30vh;
    }

}

@media screen and (max-width: 450px) {
    
    .contactUsAndSocialMediaContent {
        flex-direction: column;
    }

    .divForContactUs {
        width: 100%;
        height: 50%;
    }

    .divForSocialMedia {
        height: 50%;
        width: 100%;
    }

    .contactDetails { 
        margin: 2% auto;
    }

    footer {
        height: 50vh;
    }
}


.classyyyyy {
    color: #EE7A33;
    color: #E08234;
    color: #F4A940;
    color: #E69C5F;
    color: #F7C278;
    color: #E69C5F;
    color: #F6C07A;
    color: #EBC098;
}